.chatBack {
    background-color: #ededed;
    margin-left: 40px;
    margin-top: 20px;
    margin-right: 20%;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    font-weight: 100;
    border-radius: 10px;
}

.name {
    color: blue;
    font-weight: 150;
}

.date {
    font-size: smaller;
}

.chat {
    font-weight: 150;
    width: 98%;
}
