.fixedComponentsContainer{
    background-color: white;
    position: fixed;
    padding: 20px 40px 20px 40px;
    width: 100%;
}

.messagesContainer{
    padding-top: 400px;
    padding-bottom: 100px;
}

.titlePos {
    text-align: center;
    background-color: rgb(100, 100, 100);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

.title {
    word-wrap: normal;
    word-break: keep-all;
    font-size: 2rem;
    color: #fff;
}

.formTitle {
    border-bottom: solid 3px #87cefa;
    padding-top: 10px;
    /* margin-left: 10px; */
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputName {
    display: block;
    text-align: left;
    background-color: #e0e0e0;
    color: black;
}

.inputContent {
    resize: none;
    width: 100%;
    max-width: 500px;
    height: 100px;
    margin-top: 10px;
    display: block;
    text-align: left;
    background-color: #e0e0e0;
    color: black;
}

.sendChat {
    font-size: 1rem;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: 300;
    line-height: 1;
    padding: 0.7em 3em;
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    background-color: #87cefa;
    border-radius: 0.5rem;
    align-items: center;
    border-width: 2px;
    border-color: black;
}

.sendChat:disabled{
    color: #a1a1a1;
    background-color: #dff3ff;

}

.btnForm {
    margin-left: auto;
    margin-right: auto;
}
